<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello, world. You're at the books index
<p><a href="/upload">Upload a properly formatted file using the provided template.</a></p>
<p><a href="/convert">Convert a standard file downloaded from credit card website.</a></p>
<p><a href="/clear-cache">Clear convertion and upload caches.</a></p>
<p><a href="/new-pay">Create a payment record.</a></p>
<p><a href="/new-receive">Create a new receipt record.</a></p>
<p><a href="/new-transfer">Create a new transfer record.</a></p>
<p><a href="/new-loan">Create a new loan record.</a></p>
</body>
</html>